
body {
  cursor: none;
}
.App {
  text-align: center;
}

.cursor {
  height: 50px;
  width: 50px;
  background-color: #363062;
  border: 2px solid #E9D5DA;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  /* mix-blend-mode: difference; */
}
.cursorDOT {
  height: 10px;
  width: 10px;
  background-color: #F55353;
  border: 2px solid #DDDDDD;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-blend-mode: overlay;
}
